.digital-footer {
  color: var(--saas-text-color);
  font-family: var(--font-archivo);

  // padding: 8rem 0;

  @media only screen and (max-width: 767.98px) {
    padding: 0 0;
  }

  .left-section {
    .footer-logo {
      font-family: var(--font-archivo);
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      a {
        display: block;
        color: var(--color-black3);
        text-decoration: none;
      }
      .dark-version-logo {
        display: none;
      }
      .sticky-logo {
        display: none;
      }
      img {
        @media only screen and (max-width: 1399.98px) {
          width: 2.2rem;
        }
        @media only screen and (max-width: 991.98px) {
          width: 2.5rem;
        }
      }
      .footer-title {
        font-family: var(--font-archivo);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .footer-left-desc {
      font-family: var(--font-archivo);
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 46px; /* 127.778% */
      margin-top: 40px;
      margin-bottom: 30px;
      width: 83%;

      @media only screen and (max-width: 1759.98px) {
        width: 93%;
      }
      @media only screen and (max-width: 1535.98px) {
        width: 100%;
      }
      @media only screen and (max-width: 1199.98px) {
        font-size: 29px;
        line-height: 40px;
      }
      @media only screen and (max-width: 991.98px) {
        width: 60%;
        margin: 20px 0px;
        text-align: center;
        font-size: 26px;
        line-height: 36px;
      }
      @media only screen and (max-width: 767.98px) {
        width: 80%;
      }
      @media only screen and (max-width: 575.98px) {
        width: 100%;
      }
      @media #{$sm-mobile} {
        font-size: 23px;
        line-height: 33px;
      }

      @media only screen and (max-width: 375.98px) {
        font-size: 19px;
        line-height: 29px;
      }
    }

    .footer-input-wrapper {
      position: relative;
      @media only screen and (max-width: 991.98px) {
        margin-bottom: 30px;
      }
      input {
        background: #fff;
        width: 550px;
        height: 59px;
        border-radius: 50px;
        border: 1px solid black;

        @media only screen and (max-width: 1399.98px) {
          width: 480px;
        }

        @media only screen and (max-width: 1199.98px) {
          width: 400px;
        }
        @media only screen and (max-width: 991.98px) {
          width: 550px;
        }
        @media only screen and (max-width: 767.98px) {
          width: 400px;
        }

        @media only screen and (max-width: 575.98px) {
          width: 430px;
        }
        @media #{$sm-mobile} {
          width: 350px;
        }

        @media only screen and (max-width: 375.98px) {
          width: 310px;
        }
      }

      // placeholder color change
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 0.5; /* Firefox */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: black;
      }

      button {
        background: var(--digital-primary-color);
        position: absolute;
        top: 18%;
        right: 1%;

        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        padding: 14px 50px;
        border-radius: 50px;

        &:hover {
          background: var(--color-white);
          color: black;
          border: 1px solid black;
        }
        &:active {
          scale: (0.98);
        }
      }
    }
  }

  .right-section {
    @media only screen and (max-width: 991.98px) {
      margin-left: 80px;
    }
    @media only screen and (max-width: 767.98px) {
      margin-left: 30px;
    }
    .footer-right {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .footer-right-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 16px;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          margin: 0.5rem 0;

          a {
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
          }
          a:hover {
            color: var(--digital-text-color2);
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }
    }
  }
}
