.best-services {
  font-family: var(--font-archivo);

  color: var(--color-white);

  .service-container {
    background: #000;
    color: #fff;
    border-radius: 16px;
    .section-items {
      display: flex;
      flex-direction: column;
      padding: 90px 40px 60px 40px;

      @media #{$md-layout} {
        padding: 40px 0px 40px 0px;
      }

      .title-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .title {
          font-family: var(--font-archivo);
          text-align: center;
          font-size: 64px;
          font-style: normal;
          font-weight: 600;
          line-height: 74px; /* 115.625% */
          text-transform: capitalize;
          color: var(--color-white);
          width: 70%;

          @media #{$lg-layout} {
            width: 100%;
          }
          @media #{$md-layout} {
            font-size: 60px;
          }
          @media #{$sm-layout} {
            font-size: 50px;
            line-height: 60px;
          }
          @media #{$extra-sm} {
            font-size: 42px;
            line-height: 52px;
          }

          @media #{$sm-mobile} {
            font-size: 38px;
            line-height: 48px;
          }

          @media #{$xs-mobile} {
            font-size: 27px;
            line-height: 37px;
          }
        }

        .filters {
          margin-bottom: 30px;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;

            @media #{$md-layout} {
              flex-direction: column;
            }

            .digital-btn {
              @media #{$extra-device} {
                font-size: 18px;
              }
              @media #{$lg-layout} {
                font-size: 16px;
              }
              @media #{$md-layout} {
                font-size: 20px;
              }
            }
            li.active {
              background-color: var(--digital-primary-btn);
              border-color: var(--color-white);
              color: var(--color-black3);
              cursor: pointer;
            }
          }
        }

        .content {
          width: 100%;

          .single-content {
            .thumb {
              border-radius: 30px;
              display: block;
              margin-bottom: 40px;
              text-align: center;
              position: relative;
              overflow: hidden;
              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                width: 50%;
                height: 100%;

                transform: skewX(-25deg);
              }

              img {
                border-radius: 30px;
                transition: transform 2s cubic-bezier(0.2, 0.96, 0.34, 1);
                height: 520px;
                width: 520px;
              }
              &:hover {
                border-radius: 50%;
                cursor: pointer;
                transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                .thumb {
                  img {
                    transform: scale(1.1);
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
