.digital-testimonial {
  font-family: var(--font-inter);

  .digital-testimonial-wrapper {
    background: var(--digital-text-color);
    border-radius: 16px;
    position: relative;
    z-index: 0;
    height: 874px;
    .bg-icon {
      position: absolute;
      z-index: 1;
      margin-top: 50px;
      padding-left: 1412px;

      @media only screen and (max-width: 1759.98px) {
        margin-left: 1400px;
      }

      @media only screen and (max-width: 1535.98px) {
        margin-left: 1105px;
      }

      @media only screen and (max-width: 1399.98px) {
        margin-left: 912px;
      }

      @media only screen and (max-width: 1199.98px) {
        display: none;
      }
    }

    .slick-slider {
      position: relative;
      z-index: 0;
      padding: 49px 50px 0px 40px;

      @media only screen and (max-width: 1199.98px) {
        padding: 70px;
      }

      @media only screen and (max-width: 575.98px) {
        padding: 16px;
      }
    }

    /* the slides */
    .slick-slide {
      margin: 0 10px;
    }
    /* the parent */
    .slick-list {
      margin: 0 -10px;
    }

    // Slick Arrows

    .slick-prev,
    .slick-next {
      transition: var(--transition);

      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      z-index: 1;

      height: 30px;
      width: 30px;

      color: var(--color-white);

      background-color: transparent;

      transition: all 0.3s ease-in;

      &:hover {
        cursor: pointer;
      }

      &:active {
        scale: (0.5);
      }
    }

    .slick-prev {
      // background-image: url("../media/digital-icons/digital-testimonial-right.png");
      background-position: center;

      /* place button top right */
      margin-top: -159px;
      margin-left: 869px;

      @media only screen and (max-width: 1759.98px) {
        margin-left: 706px;
        margin-top: 453px;
      }

      @media only screen and (max-width: 1535.98px) {
        margin-left: 572px;
      }

      @media only screen and (max-width: 1399.98px) {
        margin-top: 380px;
        margin-left: 456px;
      }

      @media only screen and (max-width: 1199.98px) {
        margin-top: 333px;
        margin-left: 392px;
      }

      @media only screen and (max-width: 991.98px) {
        margin-top: 927px;
        margin-left: 15px;
      }

      @media only screen and (max-width: 767.98px) {
        margin-top: 806px;
        margin-left: 18px;
      }
      @media only screen and (max-width: 575.98px) {
        margin-top: 791px;
        margin-left: 182px;
      }
      @media #{$sm-mobile} {
        margin-top: 770px;
        margin-left: 170px;
      }

      @media only screen and (max-width: 375.98px) {
        margin-top: 704px;
        margin-left: 18px;
      }
    }
    .slick-next {
      // background-image: url("../media/digital-icons/digital-testimonial-left.png");
      background-position: center;

      /* place button bottom right */
      margin-top: -158px;
      margin-right: 750px;

      @media only screen and (max-width: 1759.98px) {
        margin-top: -177px;
        margin-left: 758px;
      }

      @media only screen and (max-width: 1535.98px) {
        margin-top: -102px;
        margin-left: 625px;
      }

      @media only screen and (max-width: 1399.98px) {
        margin-top: -77px;
        margin-left: 504px;
      }

      @media only screen and (max-width: 1199.98px) {
        margin-top: -50px;
        margin-left: 442px;
      }
      @media only screen and (max-width: 991.98px) {
        margin-top: -21px;
        margin-left: 64px;
      }
      @media only screen and (max-width: 767.98px) {
        margin-top: -18px;
        margin-left: 66px;
      }
      @media only screen and (max-width: 575.98px) {
        margin-top: -46px;
        margin-left: 234px;
      }
      @media #{$sm-mobile} {
        margin-top: -46px;
        margin-left: 218px;
      }

      @media only screen and (max-width: 375.98px) {
        margin-top: -46px;
        margin-left: 68px;
      }
    }

    .slide-1 {
      background: var(--tech-primary-btn);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slide-2 {
      background: var(--color-accent1);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slide-3 {
      background: #f7c0b2;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right-section {
      font-family: var(--font-inter);
      color: var(--color-white);
      padding: 0px 20px;

      @media only screen and (max-width: 767.98px) {
        padding: 0px 0px;
      }

      .clients-info {
        margin-left: 40px;
        margin-top: 60px;

        @media only screen and (max-width: 1399.98px) {
          margin-left: 0px;
          margin-top: 0px;
        }

        @media only screen and (max-width: 991.98px) {
          margin-top: 10px;
          margin-left: -20px;
        }

        @media only screen and (max-width: 575.98px) {
          margin-left: 0px;
          margin-top: 14px;
        }

        .name {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 33.333px;
        }
        .position {
          font-feature-settings: "salt" on, "liga" off;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          opacity: 0.5;
          margin-bottom: 20px;
        }

        .top-star {
          display: flex;

          gap: 12px;
          margin-bottom: 20px;
        }

        .desc {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          opacity: 0.7;
          margin-bottom: 70px;

          @media only screen and (max-width: 1399.98px) {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
