.digital-cards {
  font-family: var(--font-archivo);
  .card-section {
    .card-thumb {
      display: flex;
      flex-direction: column;
      gap: 10px;

      overflow: hidden;

      img {
        transition: all 0.3s ease-in;
      }

      &:hover img {
        transform: scale(0.98);
        cursor: pointer;
      }

      span {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;

        @media only screen and (max-width: 1535.98px) {
          font-size: 32px;
          line-height: 42px;
        }
        @media only screen and (max-width: 1399.98px) {
          font-size: 24px;
          line-height: 37px;
        }
        @media only screen and (max-width: 1199.98px) {
          font-size: 31px;
          line-height: 44px;
        }

        @media only screen and (max-width: 991.98px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media only screen and (max-width: 767.98px) {
          font-size: 22px;
          line-height: 32px;
        }

        @media #{$sm-mobile} {
          font-size: 20px;
          line-height: 30px;
        }

        @media only screen and (max-width: 375.98px) {
          font-size: 19px;
          line-height: 23px;
        }

        a {
          color: var(--digital-text-color);
          text-decoration: none;

          &:hover {
            color: var(--digital-text-secondary);
          }
        }
      }
    }
    @keyframes shine {
      100% {
        left: 100%;
      }
    }
  }
}
