.empower-employee2 {
  margin: 10rem 0rem;
  color: var(--saas-text-color);
  font-family: var(--font-archivo);

  .left-section {
    display: flex;
    flex-direction: column;

    .left-top-thumb {
      margin-left: -140px;

      @media only screen and (max-width: 1759.98px) {
        margin-left: 0px;
      }
    }

    .emp-detials {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30px;

      margin-top: 42px;
      @media only screen and (max-width: 575.98px) {
        flex-direction: column;
      }

      .emp-bio {
        display: flex;
        flex-direction: column;
        width: 79%;

        @media only screen and (max-width: 575.98px) {
          width: 100%;
        }

        .desc {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          margin-bottom: 24px;

          @media only screen and (max-width: 575.98px) {
            width: 100%;
          }
        }

        .title-1 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
        }
        .title-2 {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
        }
      }

      .emp-thumb {
        position: relative;
        z-index: 0;

        &:hover {
          cursor: pointer;
        }

        .thumb-base {
          position: relative;
          z-index: 0;
        }

        .popup-youtube {
          position: absolute;
          z-index: 1;

          &::before {
            content: "";
            position: absolute;
            border: 5px solid var(--saas-btn-color);
            border-radius: 50%;
            top: -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
            animation: bloom1 1.5s linear infinite;
            opacity: 0;
            z-index: 1;
          }

          &::after {
            content: "";
            position: absolute;
            border: 5px solid var(--color-white);
            border-radius: 50%;
            top: -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
            animation: bloom2 3s linear infinite;
            animation-delay: 0.4s;
            opacity: 0;
            z-index: 1;
          }

          @keyframes bloom1 {
            0% {
              transform: scale(0.5);
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: scale(1.5);
            }
          }
          @keyframes bloom2 {
            0% {
              transform: scale(0.5);
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: scale(1.5);
            }
          }

          // Responsive

          margin-top: -155px;
          margin-left: 124px;

          @media only screen and (max-width: 1399.98px) {
            margin-left: 126px;
          }

          @media only screen and (max-width: 1399.98px) {
            margin-left: 119px;
            margin-top: -133px;
          }
          @media only screen and (max-width: 991.98px) {
            margin-left: 126px;
            margin-top: -149px;
          }
          @media only screen and (max-width: 767.98px) {
            margin-left: 115px;
            margin-top: -133px;
          }
          @media only screen and (max-width: 575.98px) {
            margin-left: 151px;
            margin-top: -166px;
          }
        }
      }
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .title {
      color: var(--saas-text-color);
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 58px;

      width: 60%;

      @media only screen and (max-width: 1199.98px) {
        width: 100%;
      }

      @media #{$sm-mobile} {
        font-size: 40px;
        line-height: 50px;
      }
    }

    .desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 20px;
      margin-bottom: 40px;

      width: 90%;

      @media only screen and (max-width: 1399.98px) {
        width: 100%;
      }
    }

    // .btn {
    //   width: fit-content;
    // }
  }
}
