.marketing-seo {
  color: var(--digital-text-color);
  font-family: var(--font-archivo);

  .soe-container {
    .top-section {
      .title {
        font-family: var(--font-archivo);
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 115.625% */
        text-transform: capitalize;

        @media only screen and (max-width: 1535.98px) {
          font-size: 52px;
          line-height: 62px;
        }

        @media only screen and (max-width: 1199.98px) {
          font-size: 39px;
          line-height: 52px;
        }

        @media only screen and (max-width: 991.98px) {
          font-size: 37px;
          line-height: 47px;
          margin-bottom: 10px;
        }
        @media only screen and (max-width: 767.98px) {
          font-size: 22px;
          line-height: 32px;
          margin-bottom: 10px;
        }

        @media #{$sm-mobile} {
          font-size: 32px;
          line-height: 42px;
        }

        @media only screen and (max-width: 375.98px) {
          font-size: 26px;
          line-height: 36px;
        }
      }
      .desc {
        color: var(--digital-text-secondary);

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        text-transform: capitalize;
        @media only screen and (max-width: 1199.98px) {
          font-size: 18px;
        }
        @media only screen and (max-width: 767.98px) {
          font-size: 16px;
          line-height: 26px;
        }
        @media only screen and (max-width: 575.98px) {
          font-size: 15px;
          line-height: 25px;
        }
        @media only screen and (max-width: 375.98px) {
          font-size: 13px;
          line-height: 23px;
        }
      }
    }
    .bottom-section {
      margin-top: 80px;
      position: relative;
      z-index: 0;

      @media only screen and (max-width: 991.98px) {
        margin-top: 40px;
      }

      .base-thumb {
        position: relative;
        z-index: 0;

        img {
          background: rgba(2, 6, 9, 0.47);
          border-radius: 16px;
        }
      }

      .icon {
        position: absolute;
        z-index: 1;
        margin-top: -480px;
        left: 43.6%;

        @media only screen and (max-width: 1535.98px) {
          margin-top: -410px;
        }

        @media only screen and (max-width: 1399.98px) {
          margin-top: -360px;
        }

        @media only screen and (max-width: 1199.98px) {
          margin-top: -300px;
        }

        @media only screen and (max-width: 1199.98px) {
          img {
            width: 160px;
            height: 160px;
          }
        }

        @media only screen and (max-width: 991.98px) {
          margin-top: -218px;
          img {
            width: 125px;
            height: 125px;
          }
        }

        @media only screen and (max-width: 767.98px) {
          margin-top: -162px;
          img {
            width: 100px;
            height: 100px;
          }
        }

        @media only screen and (max-width: 575.98px) {
          margin-top: -146px;
          margin-left: -11px;
          img {
            width: 95px;
            height: 95px;
          }
        }

        @media #{$sm-mobile} {
          margin-top: -130px;
          left: 43.5%;
          img {
            width: 75px;
            height: 75px;
          }
        }

        @media only screen and (max-width: 375.98px) {
          margin-top: -100px;
          img {
            width: 68px;
            height: 68px;
          }
        }

        animation: spin 8s infinite linear;
      }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
