.marketing-seo-2 {
  color: var(--digital-text-color);
  font-family: var(--font-archivo);

  .container {
    .top-section {
      .title {
        font-family: var(--font-archivo);
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 115.625% */
        text-transform: capitalize;
        width: 110%;

        @media #{$xxxl-device} {
          font-size: 53px;
          line-height: 63px;
        }

        @media #{$xxl-device} {
          width: 110%;
        }

        @media #{$extra-device} {
          width: 100%;
          font-size: 46px;
          line-height: 56px;
        }

        @media #{$md-layout} {
          font-size: 43px;
          line-height: 53px;
        }

        @media #{$extra-sm} {
          font-size: 37px;
          line-height: 47px;
        }

        @media #{$xs-mobile} {
          font-size: 34px;
          line-height: 44px;
        }
      }

      .right-section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .desc {
          color: var(--digital-text-secondary);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 150% */
          text-transform: capitalize;

          @media #{$sm-layout} {
            font: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
