/*-------------------------
   payment Styles
-------------------------*/
.payment {
  margin-top: 160px;
  margin-bottom: 80px;
  color: var(--business-text-color);
  font-family: var(--font-archivo);

  .title {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 20px;

    color: var(--business-text-color);

    @media only screen and (max-width: 1399.98px) {
      font-size: 60px;
      line-height: 70px;
    }
    @media only screen and (max-width: 1399.98px) {
      font-size: 37px;
      line-height: 50px;
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 991.98px) {
      font-size: 60px;
      line-height: 50px;
      margin-top: 20px;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  .sub-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .sub-title-2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;

    @media only screen and (max-width: 1399.98px) {
    }
    @media only screen and (max-width: 991.98px) {
    }
  }
}

.payment-left {
  margin-right: 0px;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
  margin-top: -110px;

  @media only screen and (max-width: 1199.98px) {
    margin-top: -70px;
  }
  @media only screen and (max-width: 991.98px) {
    margin-top: 20px;
  }

  // margin-top: 4rem;

  .base-img {
    z-index: 1;
    @media only screen and (max-width: 767.98px) {
      img {
        width: 80%;
      }
    }
    @media only screen and (max-width: 575.98px) {
      img {
        width: 70%;
      }
    }
  }

  .right-top {
    z-index: 0;
    margin-left: -150px;
    margin-top: -320px;

    @media only screen and (max-width: 1199.98px) {
      margin-left: -110px;
      margin-top: -210px;
    }
    @media only screen and (max-width: 991.98px) {
      margin-left: -160px;
      margin-top: -340px;
    }
    @media only screen and (max-width: 767.98px) {
      margin-left: -100px;
      margin-top: -260px;
      img {
        width: 80%;
      }
    }
    @media only screen and (max-width: 767.98px) {
      margin-left: -200px;
      margin-top: -200px;
      img {
        width: 80%;
      }
    }
    @media only screen and (max-width: 575.98px) {
      margin-left: -210px;
      margin-top: -170px;
      img {
        width: 70%;
      }
    }
  }

  .right-bottom {
    z-index: 1;
    margin-left: -320px;
    margin-top: 390px;
    box-shadow: 0px 4.139736175537109px 62.09604263305664px 0px
      rgba(0, 0, 0, 0.08);

    @media only screen and (max-width: 1199.98px) {
      margin-left: -220px;
      margin-top: 280px;
    }
    @media only screen and (max-width: 991.98px) {
      margin-left: -330px;
      margin-top: 430px;
    }
    @media only screen and (max-width: 767.98px) {
      margin-left: -270px;
      margin-top: 320px;
    }
    @media only screen and (max-width: 767.98px) {
      margin-left: -290px;
      margin-top: 290px;
      img {
        width: 80%;
      }
    }
    @media only screen and (max-width: 575.98px) {
      margin-left: -220px;
      margin-top: 220px;
      img {
        width: 70%;
      }
    }
  }
}
