.top-header6 {
  background: var(--saas-primary-color);
  color: var(--color-white);
  height: 40px;
  font-family: var(--font-archivo);

  .top-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 6px;

    .top-title {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;

      @media only screen and (max-width: 767.98px) {
      }
      @media only screen and (max-width: 575.98px) {
        font-size: 13px;
      }
      @media #{$sm-mobile} {
        font-size: 9px;
        line-height: 18px;
      }
      @media only screen and (max-width: 375.98px) {
        font-size: 8px;
        line-height: 16px;
      }
    }

    .learn-btn {
      text-decoration: underline;
      text-underline-offset: 4px;
      color: var(--color-white);

      &:hover {
        color: var(--saas-btn-color);
      }
    }
  }
}
