@mixin hoverEffects {
  background-color: var(--color-primary);
  box-shadow: 0px 15px 20px rgba($color: #8d8585, $alpha: 0.4);
  color: var(--main-color);
  transform: translateY(-7px);
}

@mixin mybtn {
  padding: 1.8rem 1.2rem;
  background: var(--color-secondary);
  line-height: 1rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--text-dark);
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

@mixin content-center($flex_val) {
  display: flex;
  justify-content: center;
  align-items: $flex_val;
  flex-direction: column;
}
