/*-------------------------
    Typography
-------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Cabin&family=Noto+Sans&family=Plus+Jakarta+Sans&family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:wght@300;400;700;900&family=Mitr:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:wght@300;400;700;900&family=Mitr:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.cdnfonts.com/css/meta-pro");

@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  font-family: var(--font-inter);
  font-size: var(--font-body-1);
  line-height: var(--line-height-b1);
  color: var(--color-body);
  font-weight: 400;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0 0 0 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  font-weight: 500;
  // letter-spacing: -0.025em;
  color: var(--text-color-black);
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.2;
  font-family: var(--font-archivo);
  @media only screen and (max-width: 1399.98px) {
    font-size: 68px;
  }
  @media only screen and (max-width: 1399.98px) {
    font-size: 68px;
  }
  @media only screen and (max-width: 767.98px) {
    font-size: 48px;
  }
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.2;
  font-family: var(--font-archivo);
  @media only screen and (max-width: 1399.98px) {
    font-size: 56px;
  }
  @media only screen and (max-width: 1399.98px) {
    font-size: 56px;
  }
  @media only screen and (max-width: 767.98px) {
    font-size: 38px;
  }
  @media only screen and (max-width: 575.98px) {
    font-size: 34px;
  }
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.2;
  @media only screen and (max-width: 1399.98px) {
    font-size: 40px;
  }
  @media only screen and (max-width: 1399.98px) {
    font-size: 36px;
  }
  @media only screen and (max-width: 767.98px) {
    font-size: 32px;
  }
}

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.2;
  @media only screen and (max-width: 991.98px) {
    font-size: 26px;
  }
  @media only screen and (max-width: 767.98px) {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.4;
  @media only screen and (max-width: 767.98px) {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: var(--h6);
  line-height: 1.2;
  @media only screen and (max-width: 767.98px) {
    font-size: 18px;
  }
}

p {
  font-size: var(--font-body-1);
  line-height: var(--line-height-b1);
  // margin: 0 0 40px 0;
}

.body-font1 {
  font-size: var(--font-body-1);
  line-height: var(--line-height-b1);
}
.body-font2 {
  font-size: var(--font-body-2);
  line-height: var(--line-height-b1);
}
.body-font3 {
  font-size: var(--font-body-3);
  line-height: var(--line-height-b3);
}
.body-font4 {
  font-size: var(--font-body-4);
  line-height: var(--line-height-b3);
}
