/*-------------------------
    Breadcrumb
-------------------------*/
.breadcrum-area {
  background: var(--gradient-primary);
  padding: 200px 0 100px;
  margin-top: -160px;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 1399.98px) {
    margin-top: -120px;
  }
  @media only screen and (max-width: 767.98px) {
    padding: 150px 0 40px;
  }
}
.breadcrumb {
  display: block;
  ul {
    margin-bottom: 40px;
    @media only screen and (max-width: 767.98px) {
      margin-bottom: 35px;
    }
  }
  li {
    display: inline-block;
    color: var(--color-primary);
    font-weight: 500;
    position: relative;
    margin-right: 22px;
    &:after {
      content: ".";
      color: var(--color-gray-2);
      font-size: 18px;
      position: absolute;
      top: -5px;
      right: -15px;
    }
    a {
      color: var(--color-gray-2);
      &:hover {
        color: var(--color-primary);
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .title {
    margin-bottom: 0;
    width: 80%;
    @media only screen and (max-width: 991.98px) {
      width: 100%;
    }
  }
}

.breadcrumb-banner {
  padding: 280px 0 200px;
  @media only screen and (max-width: 1399.98px) {
    padding: 200px 0 50px;
  }
  @media only screen and (max-width: 991.98px) {
    padding: 150px 0 40px;
  }
  @media only screen and (max-width: 767.98px) {
    padding: 150px 0 20px;
  }
  .section-heading {
    .title {
      color: #000248;
      width: 55%;
      margin-bottom: 40px;
      @media only screen and (max-width: 991.98px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    p {
      width: 40%;
      @media only screen and (max-width: 991.98px) {
        width: 100%;
      }
    }
    @media only screen and (max-width: 991.98px) {
      margin-bottom: 40px;
    }
  }
  .banner-thumbnail {
    position: absolute;
    bottom: -100px;
    right: 190px;
    text-align: right;
    @media only screen and (max-width: 1399.98px) {
      right: -50px;
      bottom: -80px;
      img {
        width: 90%;
      }
    }
    @media only screen and (max-width: 1399.98px) {
      right: -40px;
      bottom: -50px;
      img {
        width: 65%;
      }
    }
    @media only screen and (max-width: 991.98px) {
      position: initial;
      text-align: center;
      img {
        width: 100%;
      }
    }
    &.thumbnail-2 {
      bottom: 120px;
      right: 100px;
      @media only screen and (max-width: 1399.98px) {
        right: -50px;
      }
      @media only screen and (max-width: 1399.98px) {
        right: 0;
      }
      @media only screen and (max-width: 991.98px) {
        margin: -40px 0 0;
        img {
          width: 100%;
        }
      }
    }
    &.thumbnail-3 {
      bottom: -120px;
      right: 80px;
      text-align: right;
      @media only screen and (max-width: 1399.98px) {
        right: -100px;
        bottom: -60px;
        img {
          width: 80%;
        }
      }
      @media only screen and (max-width: 1399.98px) {
        right: 0px;
        bottom: -50px;
        img {
          width: 60%;
        }
      }
      @media only screen and (max-width: 991.98px) {
        text-align: center;
        margin: -40px 0 0;
        img {
          width: 100%;
        }
      }
    }
    &.thumbnail-4 {
      @media only screen and (max-width: 1399.98px) {
        img {
          width: 100%;
        }
      }
    }
  }
  .shape-group-8 {
    .shape.shape-2 {
      @media only screen and (max-width: 1399.98px) {
        img {
          width: 60%;
        }
      }
      @media only screen and (max-width: 991.98px) {
        img {
          width: 50%;
        }
      }
    }
    .shape.shape-3 {
      bottom: -200px;
      top: auto;
      @media only screen and (max-width: 1399.98px) {
        bottom: 0;
        opacity: 0.5;
      }
    }
  }
  &.single-breadcrumb {
    padding: 200px 0 75px;
    @media only screen and (max-width: 1399.98px) {
      padding: 180px 0 70px;
    }
    @media only screen and (max-width: 991.98px) {
      padding: 150px 0 40px;
    }
    .section-heading {
      .title {
        width: 100%;
      }
      p {
        width: 100%;
      }
    }
    .banner-thumbnail {
      position: initial;
      img {
        border-radius: 24px;
        @media only screen and (max-width: 1399.98px) {
          width: 100%;
        }
      }
    }
  }
}
